<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='6e37696e0fcbfe7e' />
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="QUZJbS5mUEEzLwglWFUyLCw3LSxaET92EjcvBUEfAixzMTMfeB42Fw==">
    <title>Разборка</title>
    <!-- VK retargeting -->
    <!--<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=kF3xgVPVwgzZronUawCde/W5hpGXiUarMoUe1QR..*L38t4Ma2v9swoq6HEJfjNnO4BNY06SJUZN9Ugkfmrny0i9w-';</script>-->
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=lBVXcELOpo6bdlFYnDcvtFvFa2189ayCvSTaXKTS13Oo9/yS0R5rbDmLcUj/N0L/8BXsP3M/Hys/o24HZz/wS1X9HLFlaLYV/6GSJXJr439xm5sLDWlPOqngmr01G6UjSjXzhEtpji5QLnE8u/O*z/atHSqJdnJ0xPy6U8Jf9i8-';</script>
    <!-- /VK retargeting -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/css/jquery.Jcrop.css" rel="stylesheet">
<link href="/css/jquery.Jcrop.min.css" rel="stylesheet">
<link href="/js/node_modules/sweetalert/dist/sweetalert.css" rel="stylesheet">
<link href="/js/scroll/css/style.css" rel="stylesheet">
<link href="/js/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
<link href="/css/site.css" rel="stylesheet">
<link href="/assets/22d274b/css/font-awesome.min.css" rel="stylesheet"></head>
<body>


<div class="wrap">
    <nav id="w1" class="navbar-inverse navbar-fixed-top navbar-top navbar" role="navigation"><div class="container"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w1-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="/"><img class="logo-image desktop" src="/img/logo-text-right.png" width="150" height="45" alt=""><img class="logo-image pad" src="/img/logo.png" width="45" height="45" alt=""></a></div><div id="w1-collapse" class="collapse navbar-collapse"><ul id="w2" class="navbar-nav navbar-left nav"><li><a href="/site/index.html"><img class="menu-image" src="/img/home-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Дом</a></li>
<li><a href="/site/search.html"><img class="menu-image" src="/img/search-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Поиск</a></li>
<li><a href="/site/signup.html"><img class="menu-image" src="/img/note-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Зарегистрироваться</a></li>
<li><a href="/site/login.html"><img class="menu-image" src="/img/enter-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Войти</a></li></ul>    <div class="pull-right">
        <div id="lang-select" class="navbar-text pull-left">
            <div style="width: auto;overflow: hidden;">
                <div style="width: auto;float:left;">
<form action="/episode/view/56091.html" method="post">
<input type="hidden" name="_csrf" value="QUZJbS5mUEEzLwglWFUyLCw3LSxaET92EjcvBUEfAixzMTMfeB42Fw==">
        <b>Руc</b> | <a href="#" onclick="language_change(&quot;en&quot;)">Eng</a>        <script type="text/javascript">
            function language_change(selected) {
                var lng = selected.value;
                if(lng == undefined)
                    lng = selected;
                //alert(lng);
                $.ajax({
                    type : "POST",
                    url : "/site/language.html",
                    data : "_lang="+lng+"&YII_CSRF_TOKEN=QUZJbS5mUEEzLwglWFUyLCw3LSxaET92EjcvBUEfAixzMTMfeB42Fw==",
                    success : function(data){window.location.reload();}
                });
            }
        </script>

</form></div>
            </div>
        </div>
        <div class="pull-left download-link">
            <a href="https://play.google.com/store/apps/details?id=ru.hipe.storymaze" target="_blank"><img src="/img/download-android.jpg" width="80" height="25" alt=""></a>
        </div>
    </div>
    </div></div></nav>            <div class="download-link-mob">
            <a href="#"><img class="pull-right" src="/img/cancel-small-bl.png" width="15" height="15" alt="" onclick="Cookies.set(&quot;_smdal&quot;, &quot;1&quot;);$(&quot;.download-link-mob&quot;).hide();$(&quot;.wrap &gt; .container&quot;).css(&quot;padding-top&quot;,&quot;1%&quot;);"></a>
            <a href="https://play.google.com/store/apps/details?id=ru.hipe.storymaze" target="_blank"><img src="/img/download-android.jpg" width="80" height="25" alt="" onclick="Cookies.set(&quot;_smdal&quot;, &quot;1&quot;);$(&quot;.download-link-mob&quot;).hide();$(&quot;.wrap &gt; .container&quot;).css(&quot;padding-top&quot;,&quot;1%&quot;);"></a>
            Storymaze для Android!
        </div>
    
    <div class="container">
        <ul class="breadcrumb"><li><a href="/">Главная</a></li>
<li><a href="/story/index.html">Мои storymaze</a></li>
<li><a href="/story/view/4059.html">К свету(Часть 4)</a></li>
<li><a href="/episode/index/4059.html">Эпизоды</a></li>
<li class="active">Разборка</li>
</ul>        <div class="episode-view">
    <div class="header">
        <p>
            <a href="/user/view/7242.html"><img class="profile-image" src="/avatar/nP7JB2xGeatlsi20nYOEfo6WBF36imvt.jpg" width="60" height="60" alt=""></a>&nbsp;&nbsp;<a href="/user/view/7242.html">m_i_h_a_n</a>        </p>
        <div class="row margin0">
            <div class="w15 text-center pull-left">
                <a class="pull-left" href="/episode/#.html" onclick="goBack(event);"><img class="back-image act-image" src="/img/back-arrow.png" alt=""></a>            </div>
            <div class="w70 text-center pull-left">
                <h3>
                <a href="/story/view/4059.html">К свету(Часть 4)</a>                </h3>
            </div>
            <div class="w15 text-center pull-left">
                            </div>
        </div>
        
        <!--<div class="text-center episodes">
            <a class="maze-btn-black" href="/episode/progress/4059.html">Прогресс</a>        </div>-->
    </div>

    
<div class="episode-wrapper">
    <h4>Разборка</h4>
    <p></p>
    <p class="text-episode"><p>— Ты понимаешь, что покинул пост? — Кондор прохаживался вдоль строя бойцов, вкрадчивым опасным голосом распекая виновника «торжества». — Из-за тебя, Звереныш, мы бы тут все могли откинуться!</p><p>— Братская могила! — Шепнул Окунь Фариду и залыбился.</p><p>— Фамильный склеп! — Не отставал Ксива с другого края.</p><p>— Разговорчики! — Кондор встал напротив Глеба. — Значит так, пацан… Повторять не буду. Еще раз ослушаешься приказа, лично вышибу мозги! Не побрезгую.</p><p>У лица мальчика замаячил внушительных размеров кулак. Глеб с надеждой покосился на наставника, и тот не заставил себя ждать:</p><p>— А я соберу ошметки обратно в черепушку и вышибу еще раз…</p><p>Утренняя выволочка не особо повлияла на настроение мальчика. Ведь он остался жив, и это было чертовски здорово. А фингал под глазом пройдет. В конце концов, за сломанный ПНВ еще и не такое мог отгрести…</p></p>
    <div class="text-center episodeNext">
        <a class="maze-btn-black maze-btn-brown next-btn" href="/episode/view/56101.html" onclick="saveProgress(event, 56101, 56091)">Вышли дальше</a>    </div>
        <div class="text-center">
            </div>
    <h4>
            </h4>

    
    
    </div>

</div>    </div>

</div>
<div class="navbar-bottom navbar-fixed-bottom">
    <div class="col-xs-12 navbar-inverse">
        <div class="row" id="bottomNav">
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/site/index.html" onclick="setActive()">
                    <img class="menu-image homeH" src="/img/home-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image homeA" src="/img/home-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/site/search.html">
                    <img class="menu-image searchH" src="/img/search-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image searchA" src="/img/search-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/story/index.html">
                    <img class="menu-image mymazeH" src="/img/mymaze-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image mymazeA" src="/img/mymaze-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/user/actions.html">
                    <img class="menu-image heartH" src="/img/heart-small-gr.png" width="25" height="25" alt="">                </a>
                <a href="/user/actions.html">
                    <img class="menu-image heartA" src="/img/heart-small.png" width="25" height="25" alt="">                </a>
            </div>
                            <div class="col-xs-2 text-center menu-image-bottom">
                    <a href="/site/login.html">
                        <img class="menu-image" src="/img/enter-small-gr.png" width="25" height="25" alt="">                    </a>
                </div>
                    </div>
    </div>
</div>
<script src="/assets/jquery.js"></script>
<script src="/assets/yii.js"></script>
<script src="/js/jquery.color.js"></script>
<script src="/js/jquery.Jcrop.min.js"></script>
<script src="/js/crop.js"></script>
<script src="/js/node_modules/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/scroll/scroll-startstop.events.jquery.js"></script>
<script src="/js/jquery-ui-1.11.4/jquery-ui.js"></script>
<script src="/js/circle-progress.js"></script>
<script src="/js/site.js"></script>
<script src="/js/func.js"></script>
<script src="/js/js.cookie.js"></script>
<script src="/js/jQueryRotate.js"></script>
<script src="/assets/js/bootstrap.js"></script><div id="liver">
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter34170405 = new Ya.Metrika({
                        id:34170405,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/34170405" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</div>
</body>
</html>
