<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='6e37696e0fcbfe7e' />
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="aEZLanRvalkHESJeLi07Ggo8fzI4KDIbXSsyJxobJygKLj0nEh8bNw==">
    <title>PollyKu</title>
    <!-- VK retargeting -->
    <!--<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=kF3xgVPVwgzZronUawCde/W5hpGXiUarMoUe1QR..*L38t4Ma2v9swoq6HEJfjNnO4BNY06SJUZN9Ugkfmrny0i9w-';</script>-->
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=lBVXcELOpo6bdlFYnDcvtFvFa2189ayCvSTaXKTS13Oo9/yS0R5rbDmLcUj/N0L/8BXsP3M/Hys/o24HZz/wS1X9HLFlaLYV/6GSJXJr439xm5sLDWlPOqngmr01G6UjSjXzhEtpji5QLnE8u/O*z/atHSqJdnJ0xPy6U8Jf9i8-';</script>
    <!-- /VK retargeting -->
    <link href="/assets/a0ba7f13/css/bootstrap.css?v=1459332455" rel="stylesheet">
<link href="/css/jquery.Jcrop.css?v=1454756029" rel="stylesheet">
<link href="/css/jquery.Jcrop.min.css?v=1454756029" rel="stylesheet">
<link href="/js/node_modules/sweetalert/dist/sweetalert.css?v=1454756029" rel="stylesheet">
<link href="/js/scroll/css/style.css?v=1454756029" rel="stylesheet">
<link href="/js/jquery-ui-1.11.4/jquery-ui.css?v=1454756029" rel="stylesheet">
<link href="/css/site.css?v=1460701378" rel="stylesheet">
<link href="/assets/9c1fa2f3/css/font-awesome.min.css?v=1459799999" rel="stylesheet"></head>
<body>


<div class="wrap">
    <nav id="w18" class="navbar-inverse navbar-fixed-top navbar-top navbar" role="navigation"><div class="container"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w18-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="/"><img class="logo-image desktop" src="/img/logo-text-right.png" width="150" height="45" alt=""><img class="logo-image pad" src="/img/logo.png" width="45" height="45" alt=""></a></div><div id="w18-collapse" class="collapse navbar-collapse"><ul id="w19" class="navbar-nav navbar-left nav"><li><a href="/site/index.html"><img class="menu-image" src="/img/home-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Дом</a></li>
<li><a href="/site/recommended.html"><img class="menu-image" src="/img/search-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Поиск</a></li>
<li><a href="/site/signup.html"><img class="menu-image" src="/img/note-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Зарегистрироваться</a></li>
<li><a href="/site/login.html"><img class="menu-image" src="/img/enter-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Войти</a></li></ul>    <div class="pull-right">
        <div id="lang-select" class="navbar-text pull-left">
            <div style="width: auto;overflow: hidden;">
                <div style="width: auto;float:left;">
<form action="/user/view/16699.html" method="post">
<input type="hidden" name="_csrf" value="aEZLanRvalkHESJeLi07Ggo8fzI4KDIbXSsyJxobJygKLj0nEh8bNw==">
        <b>Руc</b> | <a href="#" onclick="language_change(&quot;en&quot;)">Eng</a>        <script type="text/javascript">
            function language_change(selected) {
                var lng = selected.value;
                if(lng == undefined)
                    lng = selected;
                //alert(lng);
                $.ajax({
                    type : "POST",
                    url : "/site/language.html",
                    data : "_lang="+lng+"&YII_CSRF_TOKEN=aEZLanRvalkHESJeLi07Ggo8fzI4KDIbXSsyJxobJygKLj0nEh8bNw==",
                    success : function(data){window.location.reload();}
                });
            }
        </script>

</form></div>
            </div>
        </div>
        <div class="pull-left download-link">
            <a href="https://play.google.com/store/apps/details?id=ru.hipe.storymaze" target="_blank"><img src="/img/download-android.jpg" width="80" height="25" alt=""></a>
        </div>
    </div>
    </div></div></nav>            <div class="download-link-mob">
            <a href="#"><img class="pull-right" src="/img/cancel-small-bl.png" width="15" height="15" alt="" onclick="Cookies.set(&quot;_smdal&quot;, &quot;1&quot;);$(&quot;.download-link-mob&quot;).hide();$(&quot;.wrap &gt; .container&quot;).css(&quot;padding-top&quot;,&quot;1%&quot;);"></a>
            <a href="https://play.google.com/store/apps/details?id=ru.hipe.storymaze" target="_blank"><img src="/img/download-android.jpg" width="80" height="25" alt="" onclick="Cookies.set(&quot;_smdal&quot;, &quot;1&quot;);$(&quot;.download-link-mob&quot;).hide();$(&quot;.wrap &gt; .container&quot;).css(&quot;padding-top&quot;,&quot;1%&quot;);"></a>
            Storymaze для Android!
        </div>
    
    <div class="container">
        <ul class="breadcrumb"><li><a href="/">Главная</a></li>
<li class="active">PollyKu</li>
</ul>        <div class="user-view">

    
    <div class="profile-wrapper">
    <!--<img class="smaze-img" src="/img/smaze.png">-->
    <div id="left-part-profile">
        <a href="/site/logout.html" data-method="post">
            <img class="exit-image visible-xs visible-sm pull-right" src="/img/exit-small-gr.png" width="25" height="25" alt="">        </a>
        <p><img class="profile-image big-profile-img" src="https://pp.vk.me/c622024/v622024355/52ddd/7ulo0s1zQxA.jpg" width="100" height="100" alt="">        </p>

        <p>
            PollyKu            <i class="fa-2x fa fa-unlock"></i>         </p>

<!-- User roles -->
        <p class="user-roles">
                    </p>
        <p>
                    </p>
<!-- /User roles -->

        <div class="margin-tb">
                            <span class="padding-right"><a href="#story">0&nbsp;storymazes</a></span>
                <span class="padding-right"><a href="/user/followers/16699.html">0&nbsp;Подписчиков</a></span>
                <a href="/user/followings/16699.html">4&nbsp;Подписки</a>                    </div>
    </div>

    <div id="right-part-profile">
        <p>
            <a href="http://vk.com/id99471355" target="_blank"><img src="/img/vk-ico.png" width="25" height="25" alt=""></a>                                </p>
        
        <p class="edit-follow-profile">
                    </p>
    </div>
</div>

        <a name="story"></a>    <div class="story-wrapper" data-story-id= 1880 data-story-rating=>
    <div class="padding">
        <div class="row">
                            <div class="profile-img float-left">
                    <a href="/user/view/16699.html"><img class="profile-image" src="https://pp.vk.me/c622024/v622024355/52ddd/7ulo0s1zQxA.jpg" alt=""></a>                </div>
                <div class="profile-text float-left">
                    <div class="byText">
                        <a href="/user/view/16699.html">PollyKu</a>                    </div>
                    <p class="datetime">5 месяцев назад</p>
                <!-- Subscribe button -->
                    <!--  issues/8/#comment-26568950                        
                        <div class="profile-text float-left">
                                                    </div>
 -->                                    <!-- /Subscribe button -->
                </div>
                <div class="repost-ico-img float-left">
                    <img class="repost-ico-image" src="/img/repost-big-bl-new.png" alt="">                </div>
                            <div class="profile-img float-left">
                <a href="/user/view/6922.html"><img class="profile-image" src="/avatar/vvKasTa3uVzjEHLuxaIz-7P8f7-3xJ_z.jpg" alt=""></a>            </div>
            <div class="profile-text float-left">
                                    <div class="byText authorText"><a href="/user/view/6922.html">GlavPox</a></div>
                                </div>
            <div class="float-right follow-btn-wrapper text-right">
                <!-- Subscribe button -->
                                <!-- /Subscribe button -->
            </div>


        </div>
    </div>
    <a href="/story/view/1880.html" >
        <div class="story-image-block">
            <div class="story-image" style="background:
                linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
                url(/story/T1TytvQ0khkLafl70cWLDPq3v9e5ZAuM.jpg) no-repeat center;
                width:100%;">
            </div>
            
    <div class="story-chart-btns">
        <div class="row">
            <div class="chart-ico text-center pull-left">&nbsp;</div>
            <div class="chart-ico text-center pull-left">
                <img class="chart-btn act-image" src="/img/plus-big.png" alt="" title="Рейтинг">            </div>
            <div class="chart-ico text-center pull-left">
                <img class="chart-btn act-image eye" src="/img/eye-big.png" alt="" title="Просмотры">            </div>
            <!--<div class="chart-ico text-center pull-left">
                <a class="chart-btn" href="#" onclick="repostStory(event, 1880);"><img id="repost-img-1880" class="act-image" src="/img/repost-small-bl.png" width="45" height="45" alt="" title="Поделиться"></a>            </div>
            <div class="chart-ico text-center pull-left">
                <a class="chart-btn" href="/commentary/index/1880.html"><img class="act-image" src="/img/comments-big-gr.png" width="45" height="45" alt="" title="Комментарии"></a>            </div>-->
            <div class="chart-ico text-center pull-left">&nbsp;</div>
        </div>
        <div class="row count-labels">
            <div class="text-center pull-left c-l">&nbsp;</div>
            <div class="text-center pull-left c-l">
            <span id="rating-label" class="count-label">
                                    32                            </span>
            </div>
            <div class="text-center pull-left c-l">
            <span class="count-label">
                                    292                            </span>
            </div>
            <!--<div class="text-center pull-left c-l">
            <span id="repost-label-1880" class="count-label">
                10            </span>
        </div>
        <div class="text-center pull-left c-l">
            <span class="count-label">
                3            </span>
        </div>-->
            <div class="text-center pull-left c-l">&nbsp;</div>
        </div>
    </div>
            </div>
    </a>
    <div class="padding">
        <span class="story-name">
                        <a href="/story/view/1880.html">ГлавПох</a>            (16+)
        </span>
                <p>Есть на свете такой персонаж - ГлавПох. Позитивный, веселый пофигист. Он в основном носит красную куртку, черно-серые штаны и кроссовый  (<a class="continue-story-link" href="/story/view/1880.html">...</a>)</p>

        <div class="row padding">
                <div class="w20 pull-left">
        <span id="repost-label-1880" class="">
            10        </span>
        <a class="chart-btn" href="#" onclick="repostStory(event, 1880);"><img id="repost-img-1880" class="act-image-repost" src="/img/repost-small-bl.png" alt="" title="Поделиться"></a>    </div>
    <div class="w20 pull-left comment-btn-block">
        <span class="">
            3        </span>
        <a class="chart-btn" href="/commentary/index/1880.html"><img class="act-image-comment" src="/img/comments-small-bl.png" alt="" title="Комментарии"></a>    </div>
                <div class="w60 pull-left text-right episodes-count">75 эпизодов</div>
        </div>

        <div class="row htags">
            <div class="pull-left w50">
                <a href="/site/search.html?s=%23%D0%BC%D0%BE%D1%82%D0%BE%D0%BC%D0%B8%D1%80">#мотомир</a> <a href="/site/search.html?s=%23%D0%93%D0%BB%D0%B0%D0%B2%D0%9F%D0%BE%D1%85">#ГлавПох</a> <a href="/site/search.html?s=%23%D0%BD%D0%B5%D1%87%D1%82%D0%BE_%D0%BD%D0%BE%D0%B2%D0%BE%D0%B5">#нечто_новое</a>             </div>
            <div class="pull-left w50 text-right">
                <a href="#" onclick="claim(event,1880,&#039;ГлавПох&#039;)"><img class="claim" src="/img/claim.png" alt=""></a>            </div>
        </div>
    </div>
</div>

        <div class="story-wrapper" data-story-id= 196 data-story-rating=>
    <div class="padding">
        <div class="row">
                            <div class="profile-img float-left">
                    <a href="/user/view/16699.html"><img class="profile-image" src="https://pp.vk.me/c622024/v622024355/52ddd/7ulo0s1zQxA.jpg" alt=""></a>                </div>
                <div class="profile-text float-left">
                    <div class="byText">
                        <a href="/user/view/16699.html">PollyKu</a>                    </div>
                    <p class="datetime">5 месяцев назад</p>
                <!-- Subscribe button -->
                    <!--  issues/8/#comment-26568950                        
                        <div class="profile-text float-left">
                                                    </div>
 -->                                    <!-- /Subscribe button -->
                </div>
                <div class="repost-ico-img float-left">
                    <img class="repost-ico-image" src="/img/repost-big-bl-new.png" alt="">                </div>
                            <div class="profile-img float-left">
                <a href="/user/view/54.html"><img class="profile-image" src="/avatar/FplM9evkl1dE6rQ3QyKm9VOgMhL7ocDU.jpg" alt=""></a>            </div>
            <div class="profile-text float-left">
                                    <div class="byText authorText"><a href="/user/view/54.html">Vladislove_Pestrikov</a></div>
                                </div>
            <div class="float-right follow-btn-wrapper text-right">
                <!-- Subscribe button -->
                                <!-- /Subscribe button -->
            </div>


        </div>
    </div>
    <a href="/story/view/196.html" >
        <div class="story-image-block">
            <div class="story-image" style="background:
                linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
                url(/story/WQqJZ9G9XbuVosbSW0MiUAaegdfDxOM-.jpg) no-repeat center;
                width:100%;">
            </div>
            
    <div class="story-chart-btns">
        <div class="row">
            <div class="chart-ico text-center pull-left">&nbsp;</div>
            <div class="chart-ico text-center pull-left">
                <img class="chart-btn act-image" src="/img/plus-big.png" alt="" title="Рейтинг">            </div>
            <div class="chart-ico text-center pull-left">
                <img class="chart-btn act-image eye" src="/img/eye-big.png" alt="" title="Просмотры">            </div>
            <!--<div class="chart-ico text-center pull-left">
                <a class="chart-btn" href="#" onclick="repostStory(event, 196);"><img id="repost-img-196" class="act-image" src="/img/repost-small-bl.png" width="45" height="45" alt="" title="Поделиться"></a>            </div>
            <div class="chart-ico text-center pull-left">
                <a class="chart-btn" href="/commentary/index/196.html"><img class="act-image" src="/img/comments-big-gr.png" width="45" height="45" alt="" title="Комментарии"></a>            </div>-->
            <div class="chart-ico text-center pull-left">&nbsp;</div>
        </div>
        <div class="row count-labels">
            <div class="text-center pull-left c-l">&nbsp;</div>
            <div class="text-center pull-left c-l">
            <span id="rating-label" class="count-label">
                                    250                            </span>
            </div>
            <div class="text-center pull-left c-l">
            <span class="count-label">
                                    7.8K                            </span>
            </div>
            <!--<div class="text-center pull-left c-l">
            <span id="repost-label-196" class="count-label">
                53            </span>
        </div>
        <div class="text-center pull-left c-l">
            <span class="count-label">
                3            </span>
        </div>-->
            <div class="text-center pull-left c-l">&nbsp;</div>
        </div>
    </div>
            </div>
    </a>
    <div class="padding">
        <span class="story-name">
                        <a href="/story/view/196.html">Айлайф</a>            (16+)
        </span>
                <p>Вторая часть: http://storymaze.ru/story/view/226.html2016 г. — Ученые открыли способ контролировать сновидения человека 2018 г. — На рынок выпущено массовое производство капсул  (<a class="continue-story-link" href="/story/view/196.html">...</a>)</p>

        <div class="row padding">
                <div class="w20 pull-left">
        <span id="repost-label-196" class="">
            53        </span>
        <a class="chart-btn" href="#" onclick="repostStory(event, 196);"><img id="repost-img-196" class="act-image-repost" src="/img/repost-small-bl.png" alt="" title="Поделиться"></a>    </div>
    <div class="w20 pull-left comment-btn-block">
        <span class="">
            3        </span>
        <a class="chart-btn" href="/commentary/index/196.html"><img class="act-image-comment" src="/img/comments-small-bl.png" alt="" title="Комментарии"></a>    </div>
                <div class="w60 pull-left text-right episodes-count">101 эпизод</div>
        </div>

        <div class="row htags">
            <div class="pull-left w50">
                <a href="/site/search.html?s=%23%D0%B2%D1%82%D0%BE%D1%80%D0%BE%D0%B9%D1%81%D0%B5%D0%B7%D0%BE%D0%BD">#второйсезон</a> <a href="/site/search.html?s=%23%D1%81%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%D0%BC%D0%B8">#скартинками</a> <a href="/site/search.html?s=%23%D0%B0%D0%B9%D0%BB%D0%B0%D0%B9%D1%84">#айлайф</a>             </div>
            <div class="pull-left w50 text-right">
                <a href="#" onclick="claim(event,196,&#039;Айлайф&#039;)"><img class="claim" src="/img/claim.png" alt=""></a>            </div>
        </div>
    </div>
</div>

        <div class="story-wrapper" data-story-id= 3577 data-story-rating=>
    <div class="padding">
        <div class="row">
                            <div class="profile-img float-left">
                    <a href="/user/view/16699.html"><img class="profile-image" src="https://pp.vk.me/c622024/v622024355/52ddd/7ulo0s1zQxA.jpg" alt=""></a>                </div>
                <div class="profile-text float-left">
                    <div class="byText">
                        <a href="/user/view/16699.html">PollyKu</a>                    </div>
                    <p class="datetime">5 месяцев назад</p>
                <!-- Subscribe button -->
                    <!--  issues/8/#comment-26568950                        
                        <div class="profile-text float-left">
                                                    </div>
 -->                                    <!-- /Subscribe button -->
                </div>
                <div class="repost-ico-img float-left">
                    <img class="repost-ico-image" src="/img/repost-big-bl-new.png" alt="">                </div>
                            <div class="profile-img float-left">
                <a href="/user/view/12624.html"><img class="profile-image" src="/avatar/fEUKpz7OZfPTSXYAidbaokGiF4xwwkEG." alt=""></a>            </div>
            <div class="profile-text float-left">
                                    <div class="byText authorText"><a href="/user/view/12624.html">edkij</a></div>
                                </div>
            <div class="float-right follow-btn-wrapper text-right">
                <!-- Subscribe button -->
                                <!-- /Subscribe button -->
            </div>


        </div>
    </div>
    <a href="/story/view/3577.html" >
        <div class="story-image-block">
            <div class="story-image" style="background:
                linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
                url(/story/-waFAjXKy5pxxTwlDPSh69AgZouaQEfu.jpg) no-repeat center;
                width:100%;">
            </div>
            
    <div class="story-chart-btns">
        <div class="row">
            <div class="chart-ico text-center pull-left">&nbsp;</div>
            <div class="chart-ico text-center pull-left">
                <img class="chart-btn act-image" src="/img/plus-big.png" alt="" title="Рейтинг">            </div>
            <div class="chart-ico text-center pull-left">
                <img class="chart-btn act-image eye" src="/img/eye-big.png" alt="" title="Просмотры">            </div>
            <!--<div class="chart-ico text-center pull-left">
                <a class="chart-btn" href="#" onclick="repostStory(event, 3577);"><img id="repost-img-3577" class="act-image" src="/img/repost-small-bl.png" width="45" height="45" alt="" title="Поделиться"></a>            </div>
            <div class="chart-ico text-center pull-left">
                <a class="chart-btn" href="/commentary/index/3577.html"><img class="act-image" src="/img/comments-big-gr.png" width="45" height="45" alt="" title="Комментарии"></a>            </div>-->
            <div class="chart-ico text-center pull-left">&nbsp;</div>
        </div>
        <div class="row count-labels">
            <div class="text-center pull-left c-l">&nbsp;</div>
            <div class="text-center pull-left c-l">
            <span id="rating-label" class="count-label">
                                    17                            </span>
            </div>
            <div class="text-center pull-left c-l">
            <span class="count-label">
                                    708                            </span>
            </div>
            <!--<div class="text-center pull-left c-l">
            <span id="repost-label-3577" class="count-label">
                2            </span>
        </div>
        <div class="text-center pull-left c-l">
            <span class="count-label">
                3            </span>
        </div>-->
            <div class="text-center pull-left c-l">&nbsp;</div>
        </div>
    </div>
            </div>
    </a>
    <div class="padding">
        <span class="story-name">
                        <a href="/story/view/3577.html">Удивительная история №27</a>            (12+)
        </span>
                <p>Творческое переосмысление комикса Tales to Astonish #27. Первое появление доктора Хэнка Пима, будущего оригинального Человека-Муравья, в комиксах. Станешь ли ты  (<a class="continue-story-link" href="/story/view/3577.html">...</a>)</p>

        <div class="row padding">
                <div class="w20 pull-left">
        <span id="repost-label-3577" class="">
            2        </span>
        <a class="chart-btn" href="#" onclick="repostStory(event, 3577);"><img id="repost-img-3577" class="act-image-repost" src="/img/repost-small-bl.png" alt="" title="Поделиться"></a>    </div>
    <div class="w20 pull-left comment-btn-block">
        <span class="">
            3        </span>
        <a class="chart-btn" href="/commentary/index/3577.html"><img class="act-image-comment" src="/img/comments-small-bl.png" alt="" title="Комментарии"></a>    </div>
                <div class="w60 pull-left text-right episodes-count">25 эпизодов</div>
        </div>

        <div class="row htags">
            <div class="pull-left w50">
                <a href="/site/search.html?s=%23%D0%A5%D0%BE%D1%87%D1%83%D0%A4%D0%B0%D0%BD%D1%82%D0%B0%D1%81%D1%82%D0%B8%D0%BA%D1%83">#ХочуФантастику</a> <a href="/site/search.html?s=%23marvel">#marvel</a> <a href="/site/search.html?s=%23%D0%A5%D0%BE%D1%87%D1%83%D0%9F%D1%80%D0%B8%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D1%8F">#ХочуПриключения</a> <a href="/site/search.html?s=%23%D1%81%D1%82%D0%BE%D1%80%D0%B8%D0%BC%D1%8D%D0%B9%D0%B7-%D0%BA%D0%BE%D0%BC%D0%B8%D0%BA%D1%81">#сторимэйз-комикс</a>             </div>
            <div class="pull-left w50 text-right">
                <a href="#" onclick="claim(event,3577,&#039;Удивительная история №27&#039;)"><img class="claim" src="/img/claim.png" alt=""></a>            </div>
        </div>
    </div>
</div>

        <div class="story-wrapper" data-story-id= 2393 data-story-rating=>
    <div class="padding">
        <div class="row">
                            <div class="profile-img float-left">
                    <a href="/user/view/16699.html"><img class="profile-image" src="https://pp.vk.me/c622024/v622024355/52ddd/7ulo0s1zQxA.jpg" alt=""></a>                </div>
                <div class="profile-text float-left">
                    <div class="byText">
                        <a href="/user/view/16699.html">PollyKu</a>                    </div>
                    <p class="datetime">5 месяцев назад</p>
                <!-- Subscribe button -->
                    <!--  issues/8/#comment-26568950                        
                        <div class="profile-text float-left">
                                                    </div>
 -->                                    <!-- /Subscribe button -->
                </div>
                <div class="repost-ico-img float-left">
                    <img class="repost-ico-image" src="/img/repost-big-bl-new.png" alt="">                </div>
                            <div class="profile-img float-left">
                <a href="/user/view/55.html"><img class="profile-image" src="/avatar/eGTXB2VmqzsLdlCcalftbPN9GUScll3Q.jpg" alt=""></a>            </div>
            <div class="profile-text float-left">
                                    <div class="byText authorText"><a href="/user/view/55.html">Cayzer</a></div>
                                </div>
            <div class="float-right follow-btn-wrapper text-right">
                <!-- Subscribe button -->
                                <!-- /Subscribe button -->
            </div>


        </div>
    </div>
    <a href="/story/view/2393.html" >
        <div class="story-image-block">
            <div class="story-image" style="background:
                linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
                url(/story/gJPBOW7M5vcoCw-hULRarpfT3gSsoXxq.jpg) no-repeat center;
                width:100%;">
            </div>
            
    <div class="story-chart-btns">
        <div class="row">
            <div class="chart-ico text-center pull-left">&nbsp;</div>
            <div class="chart-ico text-center pull-left">
                <img class="chart-btn act-image" src="/img/plus-big.png" alt="" title="Рейтинг">            </div>
            <div class="chart-ico text-center pull-left">
                <img class="chart-btn act-image eye" src="/img/eye-big.png" alt="" title="Просмотры">            </div>
            <!--<div class="chart-ico text-center pull-left">
                <a class="chart-btn" href="#" onclick="repostStory(event, 2393);"><img id="repost-img-2393" class="act-image" src="/img/repost-small-bl.png" width="45" height="45" alt="" title="Поделиться"></a>            </div>
            <div class="chart-ico text-center pull-left">
                <a class="chart-btn" href="/commentary/index/2393.html"><img class="act-image" src="/img/comments-big-gr.png" width="45" height="45" alt="" title="Комментарии"></a>            </div>-->
            <div class="chart-ico text-center pull-left">&nbsp;</div>
        </div>
        <div class="row count-labels">
            <div class="text-center pull-left c-l">&nbsp;</div>
            <div class="text-center pull-left c-l">
            <span id="rating-label" class="count-label">
                                    42                            </span>
            </div>
            <div class="text-center pull-left c-l">
            <span class="count-label">
                                    426                            </span>
            </div>
            <!--<div class="text-center pull-left c-l">
            <span id="repost-label-2393" class="count-label">
                5            </span>
        </div>
        <div class="text-center pull-left c-l">
            <span class="count-label">
                5            </span>
        </div>-->
            <div class="text-center pull-left c-l">&nbsp;</div>
        </div>
    </div>
            </div>
    </a>
    <div class="padding">
        <span class="story-name">
                        <a href="/story/view/2393.html">Соло на крыше</a>            (16+)
        </span>
                <p>Скучная, короткая и нудная история, однако со свойственным мне подтекстом. Накопившиеся переживания. Просто история обо мне. Мало кто ее поймет.  (<a class="continue-story-link" href="/story/view/2393.html">...</a>)</p>

        <div class="row padding">
                <div class="w20 pull-left">
        <span id="repost-label-2393" class="">
            5        </span>
        <a class="chart-btn" href="#" onclick="repostStory(event, 2393);"><img id="repost-img-2393" class="act-image-repost" src="/img/repost-small-bl.png" alt="" title="Поделиться"></a>    </div>
    <div class="w20 pull-left comment-btn-block">
        <span class="">
            5        </span>
        <a class="chart-btn" href="/commentary/index/2393.html"><img class="act-image-comment" src="/img/comments-small-bl.png" alt="" title="Комментарии"></a>    </div>
                <div class="w60 pull-left text-right episodes-count">10 эпизодов</div>
        </div>

        <div class="row htags">
            <div class="pull-left w50">
                <a href="/site/search.html?s=%23%D0%94%D1%80%D0%B0%D0%BC%D0%B0">#Драма</a> <a href="/site/search.html?s=%23%D0%91%D0%B8%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5">#Биографическое</a>             </div>
            <div class="pull-left w50 text-right">
                <a href="#" onclick="claim(event,2393,&#039;Соло на крыше&#039;)"><img class="claim" src="/img/claim.png" alt=""></a>            </div>
        </div>
    </div>
</div>

    
<!--
<div class="jumbotron">
    <p><?/*= Html::button(Yii::t('app', 'More'), ['class' => 'maze-btn-black more', 'onclick' => 'loadTimelineStories("'. $place . '");']) */?></p>
</div>
--><div style="display:none;" class="nav_up" id="nav_up"></div>
<div style="display:none;" class="nav_down" id="nav_down"></div>
<div class="progress-load" style="display: none;"></div>    
</div>
    </div>

</div>
<div class="navbar-bottom navbar-fixed-bottom">
    <div class="col-xs-12 navbar-inverse">
        <div class="row" id="bottomNav">
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/site/index.html" onclick="setActive()">
                    <img class="menu-image homeH" src="/img/home-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image homeA" src="/img/home-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/site/search.html">
                    <img class="menu-image searchH" src="/img/search-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image searchA" src="/img/search-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/story/index.html">
                    <img class="menu-image mymazeH" src="/img/mymaze-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image mymazeA" src="/img/mymaze-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/user/actions.html">
                    <img class="menu-image heartH" src="/img/heart-small-gr.png" width="25" height="25" alt="">                </a>
                <a href="/user/actions.html">
                    <img class="menu-image heartA" src="/img/heart-small.png" width="25" height="25" alt="">                </a>
            </div>
                            <div class="col-xs-2 text-center menu-image-bottom">
                    <a href="/site/login.html">
                        <img class="menu-image" src="/img/enter-small-gr.png" width="25" height="25" alt="">                    </a>
                </div>
                    </div>
    </div>
</div>
<script src="/assets/e209f43c/jquery.js?v=1459799998"></script>
<script src="/assets/c038d91c/yii.js?v=1459799998"></script>
<script src="/js/jquery.color.js?v=1454756029"></script>
<script src="/js/jquery.Jcrop.min.js?v=1454756029"></script>
<script src="/js/crop.js?v=1454756029"></script>
<script src="/js/node_modules/sweetalert/dist/sweetalert.min.js?v=1454756029"></script>
<script src="/js/scroll/scroll-startstop.events.jquery.js?v=1454756029"></script>
<script src="/js/jquery-ui-1.11.4/jquery-ui.js?v=1454756029"></script>
<script src="/js/circle-progress.js?v=1454756029"></script>
<script src="/js/site.js?v=1459895269"></script>
<script src="/js/func.js?v=1459895269"></script>
<script src="/js/js.cookie.js?v=1454756029"></script>
<script src="/js/jQueryRotate.js?v=1454756029"></script>
<script src="/assets/a0ba7f13/js/bootstrap.js?v=1459332455"></script><div id="liver">
    <!--LiveInternet counter--><script type="text/javascript"><!--
        document.write("<a href='//www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t26.5;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
            "' alt='' title='LiveInternet: показано число посетителей за"+
            " сегодня' "+
            "border='0' width='88' height='15'><\/a>")
        //--></script><!--/LiveInternet-->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter34170405 = new Ya.Metrika({
                        id:34170405,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/34170405" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</div>
</body>
</html>
