<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="LjFGbzhPZHVlAQAOUCk0H353DQNhewknSnAHWmIXK0IXWxcjaSpVOw==">
    <title>TopKek420</title>
    <link href="/assets/a0ba7f13/css/bootstrap.css?v=1445807429" rel="stylesheet">
<link href="/css/jquery.Jcrop.css?v=1447714205" rel="stylesheet">
<link href="/css/jquery.Jcrop.min.css?v=1447714205" rel="stylesheet">
<link href="/js/node_modules/sweetalert/dist/sweetalert.css?v=1448567926" rel="stylesheet">
<link href="/js/scroll/css/style.css?v=1448858825" rel="stylesheet">
<link href="/js/jquery-ui-1.11.4/jquery-ui.css?v=1448902217" rel="stylesheet">
<link href="/css/site.css?v=1449356649" rel="stylesheet">
<link href="/assets/cf41184c/css/font-awesome.min.css?v=1445807967" rel="stylesheet"></head>
<body>


<div class="wrap">
    <nav id="w9" class="navbar-inverse navbar-fixed-top navbar-top navbar" role="navigation"><div class="container"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w9-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="/"><img class="logo-image desktop" src="/img/logo-text-right.png" width="150" height="45" alt=""><img class="logo-image pad" src="/img/logo.png" width="45" height="45" alt=""></a></div><div id="w9-collapse" class="collapse navbar-collapse"><ul id="w10" class="navbar-nav navbar-left nav"><li><a href="/site/index.html"><img class="menu-image" src="/img/home-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Дом</a></li>
<li><a href="/site/search.html"><img class="menu-image" src="/img/search-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Поиск</a></li>
<li><a href="/site/signup.html"><img class="menu-image" src="/img/note-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Зарегистрироваться</a></li>
<li><a href="/site/login.html"><img class="menu-image" src="/img/enter-small-gr.png" width="20" height="20" alt="">&nbsp;&nbsp;Войти</a></li></ul>    <div id="lang-select" class="navbar-text pull-right">
        
<form action="/user/view/76.html" method="post">
<input type="hidden" name="_csrf" value="LjFGbzhPZHVlAQAOUCk0H353DQNhewknSnAHWmIXK0IXWxcjaSpVOw==">
        <b>Руc</b> | <a href="#" onclick="language_change(&quot;en&quot;)">Eng</a>        <script type="text/javascript">
            function language_change(selected) {
                var lng = selected.value;
                if(lng == undefined)
                    lng = selected;
                //alert(lng);
                $.ajax({
                    type : "POST",
                    url : "/site/language.html",
                    data : "_lang="+lng+"&YII_CSRF_TOKEN=LjFGbzhPZHVlAQAOUCk0H353DQNhewknSnAHWmIXK0IXWxcjaSpVOw==",
                    success : function(data){window.location.reload();}
                });
            }
        </script>

</form>    </div>
    </div></div></nav>
    <div class="container">
        <ul class="breadcrumb"><li><a href="/">Главная</a></li>
<li class="active">TopKek420</li>
</ul>        <div class="user-view">

    
    
<div class="profile-wrapper">
    <!--<img class="smaze-img" src="/img/smaze.png">-->

    <div id="left-part-profile">
        <a href="/site/logout.html" data-method="post">
            <img class="exit-image visible-xs visible-sm pull-right" src="/img/exit-small-gr.png" width="25" height="25" alt="">        </a>
        <p><img class="profile-image big-profile-img" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="100" height="100" alt="">        </p>

        <p>
            Заряев Елисей Сергеевич (TopKek420)            <i class="fa-2x fa fa-unlock"></i>         </p>
        <div class="margin-tb">
                            <span class="padding-right"><a href="#story">4&nbsp;storymazes</a></span>
                <span class="padding-right"><a href="/user/followers/76.html">5&nbsp;Подписчиков</a></span>
                <a href="/user/followings/76.html">0&nbsp;Подписок</a>                    </div>
    </div>

    <div id="right-part-profile">
        <p>
                                            </p>
        <p class="edit-follow-profile">
            <a class="maze-btn" href="/user/follow/76.html">Подписаться</a>        </p>
    </div>

</div>

        <a name="story"></a>    
<div class="story-wrapper">
    <div class="padding">
        <div class="row">
                        <div class="col-md-1 col-sm-1 profile-img hidden-xs ">
                <a href="/user/view/76.html"><img class="profile-image" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="60" height="60" alt=""></a>            </div>
            <div class="col-xs-1 profile-img visible-xs ">
                <a href="/user/view/76.html"><img class="profile-image" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="40" height="40" alt=""></a>            </div>
            <div class="profile-text col-xs-4">
                                    <div class="byText"><a href="/user/view/76.html">Заряев Елисей Сергеевич</a></div>
                    <p class="datetime">1 неделю назад</p>
                            </div>
        </div>
    </div>
    <div class="story-image-block">
        <a href="/story/view/193.html" >
            <div class="story-image" style="background:
                linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
                url(/story/jWWM4vutzzKRIcfbpxjHfcVgtYk1YFJZ.jpg) no-repeat center;
                width:100%;"></div>
        </a>
        
<div class="story-chart-btns">
    <div class="row">
        <div class="col-md-2 col-xs-2 chart-ico">
        <img class="chart-btn act-image" src="/img/plus-big.png" width="45" height="45" alt="" title="Рейтинг">        </div>
        <div class="col-md-3 col-xs-3 eye">
            <img class="chart-btn act-image" src="/img/eye-big.png" width="65" height="45" alt="" title="Уникальные просмотры">        </div>
        <div class="col-md-2 col-xs-2 chart-ico">
            <a class="chart-btn" href="#" onclick="repostStory(event, 193);"><img id="repost-img-193" class="act-image" src="/img/repost-big-gr.png" width="45" height="45" alt="" title="Поделиться"></a>        </div>
        <div class="col-md-2 col-xs-2">
            <a class="chart-btn" href="/commentary/index/193.html"><img class="act-image" src="/img/comments-big-gr.png" width="45" height="45" alt="" title="Комментарии"></a>        </div>
    </div>
    <div class="row count-labels">
        <div class="col-md-3 col-xs-3 c-l">
            <span id="rating-label" class="count-label">
                2            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-eye">
            <span class="count-label">
                23            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-rep">
            <span id="repost-label-193" class="count-label">
                0            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-com">
            <span class="count-label">
                0            </span>
        </div>
    </div>
</div>
    </div>
    <div class="padding">
        <h3>
                        <a href="/story/view/193.html">Hotline Miami/Горячая Линия Майами. Эпизод 3: Ответы.</a>            (16+)
        </h3>

                <p><p>Внимание: в данном сторимейзе содержатся элементы насилия и ненормативная лексика. Ненормативная лексика<a class="continue-story-link" href="/story/view/193.html">...</a></p>

        <p><b>28 эпизодов</b></p>

        <p class="htags"></p>
    </div>
</div>

        
<div class="story-wrapper">
    <div class="padding">
        <div class="row">
                        <div class="col-md-1 col-sm-1 profile-img hidden-xs ">
                <a href="/user/view/76.html"><img class="profile-image" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="60" height="60" alt=""></a>            </div>
            <div class="col-xs-1 profile-img visible-xs ">
                <a href="/user/view/76.html"><img class="profile-image" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="40" height="40" alt=""></a>            </div>
            <div class="profile-text col-xs-4">
                                    <div class="byText"><a href="/user/view/76.html">Заряев Елисей Сергеевич</a></div>
                    <p class="datetime">1 неделю назад</p>
                            </div>
        </div>
    </div>
    <div class="story-image-block">
        <a href="/story/view/189.html" >
            <div class="story-image" style="background:
                linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
                url(/story/2gttIiGaWH-UGMzp199EFozE_Td7u55S.jpg) no-repeat center;
                width:100%;"></div>
        </a>
        
<div class="story-chart-btns">
    <div class="row">
        <div class="col-md-2 col-xs-2 chart-ico">
        <img class="chart-btn act-image" src="/img/plus-big.png" width="45" height="45" alt="" title="Рейтинг">        </div>
        <div class="col-md-3 col-xs-3 eye">
            <img class="chart-btn act-image" src="/img/eye-big.png" width="65" height="45" alt="" title="Уникальные просмотры">        </div>
        <div class="col-md-2 col-xs-2 chart-ico">
            <a class="chart-btn" href="#" onclick="repostStory(event, 189);"><img id="repost-img-189" class="act-image" src="/img/repost-big-gr.png" width="45" height="45" alt="" title="Поделиться"></a>        </div>
        <div class="col-md-2 col-xs-2">
            <a class="chart-btn" href="/commentary/index/189.html"><img class="act-image" src="/img/comments-big-gr.png" width="45" height="45" alt="" title="Комментарии"></a>        </div>
    </div>
    <div class="row count-labels">
        <div class="col-md-3 col-xs-3 c-l">
            <span id="rating-label" class="count-label">
                2            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-eye">
            <span class="count-label">
                30            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-rep">
            <span id="repost-label-189" class="count-label">
                1            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-com">
            <span class="count-label">
                0            </span>
        </div>
    </div>
</div>
    </div>
    <div class="padding">
        <h3>
                        <a href="/story/view/189.html">Hotline Miami/ Горячая Линия Майами. Эпизод 2.</a>            (16+)
        </h3>

                <p><p>Внимание: в данном сторимейзе содержатся элементы насилия и ненормативная лексика. Ненормативная лексика<a class="continue-story-link" href="/story/view/189.html">...</a></p>

        <p><b>10 эпизодов</b></p>

        <p class="htags"></p>
    </div>
</div>

        
<div class="story-wrapper">
    <div class="padding">
        <div class="row">
                        <div class="col-md-1 col-sm-1 profile-img hidden-xs ">
                <a href="/user/view/76.html"><img class="profile-image" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="60" height="60" alt=""></a>            </div>
            <div class="col-xs-1 profile-img visible-xs ">
                <a href="/user/view/76.html"><img class="profile-image" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="40" height="40" alt=""></a>            </div>
            <div class="profile-text col-xs-4">
                                    <div class="byText"><a href="/user/view/76.html">Заряев Елисей Сергеевич</a></div>
                    <p class="datetime">2 недели назад</p>
                            </div>
        </div>
    </div>
    <div class="story-image-block">
        <a href="/story/view/186.html" >
            <div class="story-image" style="background:
                linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
                url(/story/DwE68u1f2aFlUukwGZODH8NwoBHFXxSY.jpg) no-repeat center;
                width:100%;"></div>
        </a>
        
<div class="story-chart-btns">
    <div class="row">
        <div class="col-md-2 col-xs-2 chart-ico">
        <img class="chart-btn act-image" src="/img/plus-big.png" width="45" height="45" alt="" title="Рейтинг">        </div>
        <div class="col-md-3 col-xs-3 eye">
            <img class="chart-btn act-image" src="/img/eye-big.png" width="65" height="45" alt="" title="Уникальные просмотры">        </div>
        <div class="col-md-2 col-xs-2 chart-ico">
            <a class="chart-btn" href="#" onclick="repostStory(event, 186);"><img id="repost-img-186" class="act-image" src="/img/repost-big-gr.png" width="45" height="45" alt="" title="Поделиться"></a>        </div>
        <div class="col-md-2 col-xs-2">
            <a class="chart-btn" href="/commentary/index/186.html"><img class="act-image" src="/img/comments-big-gr.png" width="45" height="45" alt="" title="Комментарии"></a>        </div>
    </div>
    <div class="row count-labels">
        <div class="col-md-3 col-xs-3 c-l">
            <span id="rating-label" class="count-label">
                5            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-eye">
            <span class="count-label">
                43            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-rep">
            <span id="repost-label-186" class="count-label">
                0            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-com">
            <span class="count-label">
                0            </span>
        </div>
    </div>
</div>
    </div>
    <div class="padding">
        <h3>
                        <a href="/story/view/186.html">Hotline Miami/Горячая Линия Майами. Эпизод 1.</a>            (16+)
        </h3>

                <p><p>Внимание: в данном сторимейзе содержится элементы насилия и ненормативная лексика. Ненормативная лексика<a class="continue-story-link" href="/story/view/186.html">...</a></p>

        <p><b>17 эпизодов</b></p>

        <p class="htags"></p>
    </div>
</div>

        
<div class="story-wrapper">
    <div class="padding">
        <div class="row">
                        <div class="col-md-1 col-sm-1 profile-img hidden-xs ">
                <a href="/user/view/76.html"><img class="profile-image" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="60" height="60" alt=""></a>            </div>
            <div class="col-xs-1 profile-img visible-xs ">
                <a href="/user/view/76.html"><img class="profile-image" src="/avatar/_XZRTeBhO6IZo1XOMfQArf8cyWMAc7U4.jpg" width="40" height="40" alt=""></a>            </div>
            <div class="profile-text col-xs-4">
                                    <div class="byText"><a href="/user/view/76.html">Заряев Елисей Сергеевич</a></div>
                    <p class="datetime">2 недели назад</p>
                            </div>
        </div>
    </div>
    <div class="story-image-block">
        <a href="/story/view/182.html" >
            <div class="story-image" style="background:
                linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
                url(/story/YoHz4yH-XhAKQRkNCBEGd5NRiwn54Vw7.jpg) no-repeat center;
                width:100%;"></div>
        </a>
        
<div class="story-chart-btns">
    <div class="row">
        <div class="col-md-2 col-xs-2 chart-ico">
        <img class="chart-btn act-image" src="/img/plus-big.png" width="45" height="45" alt="" title="Рейтинг">        </div>
        <div class="col-md-3 col-xs-3 eye">
            <img class="chart-btn act-image" src="/img/eye-big.png" width="65" height="45" alt="" title="Уникальные просмотры">        </div>
        <div class="col-md-2 col-xs-2 chart-ico">
            <a class="chart-btn" href="#" onclick="repostStory(event, 182);"><img id="repost-img-182" class="act-image" src="/img/repost-big-gr.png" width="45" height="45" alt="" title="Поделиться"></a>        </div>
        <div class="col-md-2 col-xs-2">
            <a class="chart-btn" href="/commentary/index/182.html"><img class="act-image" src="/img/comments-big-gr.png" width="45" height="45" alt="" title="Комментарии"></a>        </div>
    </div>
    <div class="row count-labels">
        <div class="col-md-3 col-xs-3 c-l">
            <span id="rating-label" class="count-label">
                143            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-eye">
            <span class="count-label">
                703            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-rep">
            <span id="repost-label-182" class="count-label">
                13            </span>
        </div>
        <div class="col-md-3 col-xs-3 c-l-com">
            <span class="count-label">
                3            </span>
        </div>
    </div>
</div>
    </div>
    <div class="padding">
        <h3>
                        <a href="/story/view/182.html">Зомби-апокалипсис</a>            (16+)
        </h3>

                <p><hr><p>Сразу поясню: данный сторимейз содержит элементы насилия и материалы, вызывающие страх. Приятного<a class="continue-story-link" href="/story/view/182.html">...</a></p>

        <p><b>21 эпизод</b></p>

        <p class="htags"></p>
    </div>
</div>

    
<!--
<div class="jumbotron">
    <p><?/*= Html::button(Yii::t('app', 'More'), ['class' => 'maze-btn-black more', 'onclick' => 'loadTimelineStories("'. $place . '");']) */?></p>
</div>
--><div style="display:none;" class="nav_up" id="nav_up"></div>
<div style="display:none;" class="nav_down" id="nav_down"></div>
<div class="progress-load" style="display: none;"></div>    
</div>
    </div>

</div>
<div class="navbar-bottom navbar-fixed-bottom">
    <div class="col-xs-12 navbar-inverse">
        <div class="row" id="bottomNav">
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/site/index.html" onclick="setActive()">
                    <img class="menu-image homeH" src="/img/home-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image homeA" src="/img/home-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/site/search.html">
                    <img class="menu-image searchH" src="/img/search-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image searchA" src="/img/search-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/story/index.html">
                    <img class="menu-image mymazeH" src="/img/mymaze-small-gr.png" width="25" height="25" alt="">                    <img class="menu-image mymazeA" src="/img/mymaze-small.png" width="25" height="25" alt="">                </a>
            </div>
            <div class="col-xs-2 text-center menu-image-bottom">
                <a href="/user/actions.html">
                    <img class="menu-image heartH" src="/img/heart-small-gr.png" width="25" height="25" alt="">                </a>
                <a href="/user/actions.html">
                    <img class="menu-image heartA" src="/img/heart-small.png" width="25" height="25" alt="">                </a>
            </div>
                            <div class="col-xs-2 text-center menu-image-bottom">
                    <a href="/site/login.html">
                        <img class="menu-image" src="/img/enter-small-gr.png" width="25" height="25" alt="">                    </a>
                </div>
                    </div>
    </div>
</div>
<script src="/assets/c5fe0245/jquery.js?v=1447790732"></script>
<script src="/assets/e7cf2f65/yii.js?v=1447790733"></script>
<script src="/js/jquery.color.js?v=1447714205"></script>
<script src="/js/jquery.Jcrop.js?v=1447714205"></script>
<script src="/js/jquery.Jcrop.min.js?v=1447714205"></script>
<script src="/js/crop.js?v=1448377701"></script>
<script src="/js/node_modules/sweetalert/dist/sweetalert.min.js?v=1448567926"></script>
<script src="/js/scroll/scroll-startstop.events.jquery.js?v=1449186573"></script>
<script src="/js/jquery-ui-1.11.4/jquery-ui.js?v=1448902217"></script>
<script src="/js/circle-progress.js?v=1448812875"></script>
<script src="/js/site.js?v=1449360906"></script>
<script src="/js/func.js?v=1449356649"></script>
<script src="/assets/a0ba7f13/js/bootstrap.js?v=1445807429"></script><div id="liver">
    <!--LiveInternet counter--><script type="text/javascript"><!--
        document.write("<a href='//www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t26.5;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
            "' alt='' title='LiveInternet: показано число посетителей за"+
            " сегодня' "+
            "border='0' width='88' height='15'><\/a>")
        //--></script><!--/LiveInternet-->
</div>
</body>
</html>
